#quote-box {
  background: whitesmoke;
  border-radius: 5px;
  font-family: "Bree Serif", sans-serif;
}

#text {
  color: #808080;
  font-size: 1.2rem;
  line-height: 1.5;
  transition: color 3s;
  /* font-style: italic; */
}

.icon-quote-left {
  font-size: 1.35em;
}

#author {
  color: #a0a0a0;
  text-align: right;
  transition: color 3s;
  /* font-style: italic; */
}

#new-quote:focus {
  outline: none;
}

#new-quote {
  border: none;
}

#tweet-quote:focus {
  outline: none;
}

@media screen and (min-width: 800px) {
  #quote-box {
    padding: 1.25rem;
  }

  .icon-quote-left {
    font-size: 1.5em;
    padding-right: 0.75rem;
  }

  #author {
    text-align: center;
    font-size: 1.15rem;
  }

  #text {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  #new-quote,
  #tweet-quote {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  #quote-box {
    padding: 1.15rem;
  }

  #app-header {
    font-size: 1.5rem;
  }

  .icon-quote-left {
    font-size: 1.2em;
    padding-right: 0.75rem;
  }

  #author {
    text-align: center;
    font-size: 1.05rem;
  }

  #text {
    font-size: 1.25rem;
    /* line-height: 1.3; */
  }

  #new-quote,
  #tweet-quote {
    font-size: 1rem;
  }
}

@media screen and (max-width: 374px) {
  #quote-box {
    padding: 1rem;
  }

  #app-header {
    font-size: 1.25rem;
  }

  .icon-quote-left {
    font-size: 1.1em;
    padding-right: 0.5rem;
  }

  #author {
    text-align: center;
    font-size: 0.95rem;
  }

  #text {
    font-size: 1.1rem;
    /* line-height: 1.25; */
  }

  #new-quote,
  #tweet-quote {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 260px) {
  #quote-box {
    padding: 0.3rem;
    max-width: 100%;
    margin: 0;
  }

  .icon-quote-left {
    font-size: 1em;
    /* padding-right: 0.5rem; */
    display: block;
  }

  #author {
    text-align: center;
    font-size: 0.75rem;
  }

  #text {
    font-size: 0.85rem;
    /* line-height: 1.25; */
  }

  #new-quote,
  #tweet-quote {
    font-size: 0.75rem;
    margin-top: 0.2rem;
  }
}
